@import "../variables.scss";

.main-layout {
 min-height: 100vh;

 &__page-content {
   flex: 1 1 auto;
   padding: 16px 24px;
 }

 &__page-footer {
   background-color: rgba(0, 0, 0, 0.88);
 }
}

.logo-tekst {
  font-family: 'Dancing Script', cursive;
  color: aliceblue;
  display: inline-block;
  font-weight: 450px;
  text-align: center;
  margin: 5px;
}

.logo-svg {
  align-items: center;
}

.sider-logout {
  position: absolute;
  bottom: 65px;
  right: 53px;
  display: flex;
  // -webkit-box-align: center;
  align-items: center;
  // -webkit-box-pack: center;
  justify-content: center;
  padding: 14px 28px;
  color: var(--btn-text-color);
  background-color: var(--accent-background-color);
  box-shadow: var(--shadow-logout-btn);
  border-radius: 10px;
  transition: background-color var(--animation);
}