$screen-size-xxl: 1920px;
$screen-size-xl: 1440px;
$screen-size-md: 1024px;
$screen-size-sm: 768px;
$screen-size-xs: 576px;

$myPadding: 300px;
$my-Padding-top: 220px;

$screen-size-xs-padding-left: 18px;
$screen-size-xs-padding-right: 18px;
$screen-size-sm-padding-left: 24px;
$screen-size-sm-padding-right: 24px;
$screen-size-md-padding-left: 32px;
$screen-size-md-padding-right: 32px;
$screen-size-xl-padding-left: 110px;
$screen-size-xl-padding-right: 110px;