.button {
 padding: 5px 10px;
 background-color: antiquewhite;
 margin: 0px 15px 0px 0px;
 padding: 10px 20px;
 background-color: #E7EFD6;
 width: 46px;
 height: 37px;
}

.button:not(:last-child) {
 margin-right: 15px;
}

button {
 border: none;
}