.page {
  max-width: 1440px;
  max-height: max-content;
  margin: 0 auto;
}

/*header*/

.page-content {
  width: 1200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #FFFFFF; 
}

.page-content-block {
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.page-content-block-item1 {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 20px;
}

/*side-bar+ main*/

.common-block {
  display: flex;
}

/*side-bar*/

.side-bar {
  margin-top: 0;
  background-color: palevioletred;
  position: sticky;
  top: 100px;
  align-self: flex-start;
  width: 400px;
}

.side-bar-section {
  /* margin-left: 90px; */
}

a {
  text-decoration-line: none;
  color: #000000;
}

.side-bar-section {
  margin-left: 0px;
  text-transform: uppercase;
  font-family: 'Francois One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  color: #000000;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
  width: 385px;
}

ul li {
  width: 90%;
  border-bottom: 2px solid #C9C9C9;;
}

/* main-content*/

.main-content {
  max-width: 800px;
  background-color: #FFFFFF;
  position: relative;
  margin: 0 auto;
}

/* .image-item {
  width: 1200px;
  height: 80px;
  margin-bottom: 5px;
  width: 1440px;
} */

ul {
  margin: 0;
  padding: 0;
} 

.content {
  margin: 0px;
  width: 800px;
  overflow: scroll;
}

.bg-picture {
  top: 150px;
  right: 0px;
  width: 760px;
  z-index: -1;
  position: fixed;
  width: 500px;
  left: 55%;
}

.paragraphe-name {
  text-transform: uppercase;
  font-family: 'Francois One';
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  margin: 20px 0 40px 0;
}

.paragraphe-index {
  text-transform: none;
  font-family: 'Farro', sans-serif;
  font-size: 20px;
  line-height: 100%;
  text-align: Left;
  vertical-align: Top;
}

.paragraphe-text {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  color: #000000;
  list-style-type: none;
  margin-bottom: 70px;
}

.paragraphe-list {
  padding: 0px;
}

.paragraphe-item {
  margin-bottom: 35px;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.gray-underline {
  text-decoration: underline;
  text-decoration-color: gray;
}

.bold-text {
  font-weight: bold;
}

.background-grey {
  background-color: rgb(206, 197, 197);
}

.line-img {
  padding-top: 0px;
  padding-bottom: 20px;
}
