.main-content-1-name {
 text-align: center;
}

.links {
 list-style-type: none;
 color: #828282;
}

.navigation {
 list-style-type: none;
 padding: 0;
 margin-left: 0;
 font-family: Open Sans;
 font-style: regular;
 font-size: 18px;
 line-height: 24.51px;
 line-height: 100%;
 align: left;
 vertical-align: top;
}
.links li{
 display: inline-block;
}

.top-line {
 width: 940.6px;
 height: 0px;
top: 74.94px;
left: 252px;
color: #828282;
}

.main-content-name-image {

}

.main-content {
 background: #F6F6F6;
 text-align: center;
 font-family: Open Sans;
}

.skills {
 text-align: center;
}

.main-content_base-block {
 text-align: center;
}

.main-content_base-block-title {
 font-family: Open Sans;
 font-style: bold;
 font-size: 34px;
 line-height: 46.3px;
 line-height: 100%;
 text-align: center;
 vertical-align: top;
 color: black;
}

.main-content_base-block-text {
font-family: Open Sans;
font-style: Regular;
font-size: 18px;
font-weight : 400;
Size: 18px;
line-height: 24.51px;
text-align: center;
vertical-align: top;
color: #070707;
}

.footer {
 text-align: center;
}