.banner {
 width: 1177px;
 height: 145px;
 background: #D9D9D9;
 margin-top: 19px;
 margin-bottom: 24px;
 text-align: center;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 12px;
 line-height: 15px;
 color: #000000;
 display: flex;
 align-items: center;
 justify-content: center;
}