.page-container {

  background: #FFFFFF;
  margin: 0 auto;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px; // вопрос зачем max-width + width: 100% 

  // width: 100%; 
  @media screen and (max-width: $screen-size-md) {
    padding: 10px 10px;
    margin: 10px 10px;
  }

  @media screen and (max-width: $screen-size-sm) {
    padding: 5px 5px;
    margin: 10px 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 135px;

    @media screen and (max-width: $screen-size-xl) {
      padding: 10px 10px;
    }

    &__logo {

      margin-top: 44px;
    }

    .hide-desktop {
      @media screen and (min-width: $screen-size-sm) {
        display: none;
      }
    }

    .burger-control {

      position: relative;
      top: 61px;

      @media screen and (min-width: $screen-size-sm) {
        display: none;
      }
    }

    .hide-mobile {
      @media screen and (max-width: $screen-size-sm) {
        display: none;
      }
    }

    &__nav {
      &-list {
        display: flex;
        gap: 20px;
        list-style-type: none;
        margin-top: 42px;
        margin-bottom: 42px;

        @media screen and (max-width: $screen-size-xl) {
          gap: 3px;
          padding-left: 5px;
        }

        &__item {
          margin-right: 42px;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.3em;
          text-transform: uppercase;

          @media screen and (max-width: $screen-size-md) {
            margin-right: 10px;

          }

          a {
            text-decoration: none;
            position: relative;
            color: #000000;

            &:hover::after {
              content: '';
              position: absolute;
              border-bottom: 1px solid #000000;
              left: 0px;
              right: 0px;
              margin: 0 auto;
              top: 20px;
              width: 40px;
            }
          }
        }
      }
    }

    .navigation-mobile {
      position: absolute;
      right: -8px;
      z-index: 1;
      background-color: #FFFFFF;
      display: none;
    }

    .is-active+.navigation-mobile {
      display: flex;
    }

    .navigation {

      &__list {
        list-style-type: none;
        padding: 0px;
        width: 150px;


        &-item {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.3em;
          text-transform: uppercase;
          border-bottom: 1px solid #000000;

          &__link {
            padding-left: 10px;
          }


          a {
            text-decoration: none;
            position: relative;
            color: #000000;

            &:hover::after {
              content: '';
              position: absolute;
              border-bottom: 1px solid #000000;
              left: 0px;
              right: 0px;
              margin: 0 auto;
              top: 20px;
              width: 40px;
            }
          }
        }
      }
    }

    &__search {
      margin-top: 42px;
    }
  }

  &__main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__block1 {
      position: relative;
      background-image: url(../images/big-image1.jpg);
      height: 600px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;

      &__text {
        position: absolute;
        max-width: 770px;
        height: 120px;
        left: 135px;
        top: 55px;
        font-family: 'Red Hat Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;

        @media screen and (max-width: $screen-size-sm) {
          left: 40px;
        }
      }
    }

    &__block2 {
      padding: 90px 135px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      grid-gap: 30px;
      flex-wrap: wrap-reverse;

      @media screen and (max-width: $screen-size-xl) {
        padding: 20px 20px;
      }

      @media screen and (max-width: $screen-size-md) {
        padding: 5px 5px;
      }

      &_reverse {
        flex-direction: row-reverse;
      }

      &__image {
        width: 100%;
        height: 100%;
        max-width: 570px;
        max-height: 470px;
      }

      &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-gap: 30px;
        max-width: 450px;

        &__sub-title {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0.1em;
          color: #7B7B7B;
        }

        &__header {}

        &__header-title {
          font-family: 'Red Hat Display', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 23px;
          line-height: 38px;
          letter-spacing: 0.1em;
          color: #000000;
        }

        &__header-time {
          margin-top: 15px;

          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 0.1em;
          color: #7B7B7B;
        }

        &__content {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0.05em;
          color: #565656;
        }
      }

    }

    &__block3 {
      padding: 0px 135px;
      flex-wrap: nowrap;

      @media screen and (max-width: $screen-size-xl) {
        padding: 20px 20px;
      }
      @media screen and (max-width: $screen-size-sm) {
        padding: 5px 5px;
        // margin: 10px 10px;
      }

      &-name {
        display: flex;
        justify-content: space-between;

        &__header {
          font-family: 'Red Hat Display', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #000000;
        }

        &__text {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #7B7B7B;
          margin-top: 35px;
        }
      }

      &_posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        // &-item:not(:last-child) {
        //   margin-right: 30px;
        //   @media screen and (max-width: $screen-size-md) {
        //     margin-right: 0px;
        //   }
        // }

        //  .long {
        //    width: 570px;
        //  }

        //  .short {
        //   // width: 370px;
        //   @media screen and (min-width: $screen-size-xl) {
        //     width: 370px;
        //   }
        //   @media screen and (max-width: $screen-size-sm) {
        //      width: auto;
        //   }
        // }

        &-item {
          @media screen and (max-width: $screen-size-xl) and (max-width: $screen-size-sm) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;
          }
          /*flex-direction: row;*/
           @media screen and (max-width: $screen-size-md) {
             display: flex;
             flex-direction: row;
           }
         

          &__img {
            max-width: 100%;

          }

          &__text {
            max-width: 340px;


            @media screen and (min-width: $screen-size-sm) {
              // margin-left: 20px;;
            }
          
            
            &-discriotion {
              display: flex;
            justify-content: space-between;
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #7B7B7B;
            // max-width: 570px; 
            }
          }


          &__hdr {
            font-family: 'Red Hat Display', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;
            // max-width: 370px;
          }

          &__discription {
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.05em;
            color: #565656;
            // max-width: 370px;
          }
        }

        &__button {
          text-align: center;
          margin-top: 54px;

          &-type {
            background-color: #565656;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            width: 180px;
            height: 46px;
            border-color: none;
            border: 0px;
          }
        }
      }
    }

    &__block4 {
      display: flex;
      justify-content: space-between;
      padding: 90px 135px;

      // @media screen and (max-width: $screen-size-xl) {
      //   padding: 20px 20px;
      // }

      @media screen and (max-width: $screen-size-sm) {
        padding: 5px 5px;
        // margin: 10px 10px;
      }

      @media screen and (max-width: $screen-size-md) {
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
      }

      &__item {
        max-width: 470px;
        font-family: 'Red Hat Display', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;
      }

      &__text {
        max-width: 470px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;
      }
    }
  }

  &__footer {
    padding: 0px 135px;
    background-color: #F4F4F4;

    @media screen and (max-width: $screen-size-xl) {
      padding: 10px 10px;
    }

    @media screen and (max-width: $screen-size-sm) {
      padding: 5px 5px;
      // margin: 10px 10px;
    }

    &-block {
      display: flex;
      justify-content: space-between;
      position: relative;

      &-left {

        &__header {
          font-family: 'Red Hat Display', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 64px;
          color: #000000;
        }

        &__phone {
          width: 200px;
          left: 0px;
          top: 90px;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          letter-spacing: 0.1em;
          color: #000000;
        }

        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0;

        &__mail {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #000000;
        }

      }

      &-right {
        position: absolute;
        top: 95px;
        right: 1px;

        &__svg:not(:last-child) {
          margin-right: 23px;
        }

      }
    }

    &-bottom {
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: #000000;
    }
  }
}