.page-container {
  background: #ffffff;
  margin: 0 auto;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  padding-left: 300px;

  // width: 100%;
  @media screen and (min-width: $screen-size-md) and (max-width: $screen-size-xl) {
    padding: 34px 34px;
  }

  @media screen and (max-width: $screen-size-md) {
    padding: 10px 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-left: 135px;
    padding-right: 135px;

    @media screen and (max-width: $screen-size-xl) {
      padding: 0px 0px;
    }

    &__logo {
      margin-top: 44px;
    }

    .hide-desktop {
      @media screen and (min-width: $screen-size-md) {
        display: none;
      }
    }

    .burger-control {
      position: relative;
      top: 61px;

      @media screen and (min-width: $screen-size-md) {
        display: none;
      }
    }

    .hide-mobile {
      @media screen and (max-width: $screen-size-md) {
        display: none;
      }
    }

    &__nav {
      &-list {
        display: flex;
        gap: 20px;
        list-style-type: none;
        margin-top: 42px;
        margin-bottom: 42px;

        @media screen and (max-width: $screen-size-xl) {
          gap: 3px;
          padding-left: 5px;
        }

        &__item {
          margin-right: 42px;
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.3em;
          text-transform: uppercase;

          @media screen and (max-width: $screen-size-md) {
            margin-right: 10px;
          }

          a {
            text-decoration: none;
            position: relative;
            color: #000000;

            &:hover::after {
              content: "";
              position: absolute;
              border-bottom: 1px solid #000000;
              left: 0px;
              right: 0px;
              margin: 0 auto;
              top: 20px;
              width: 40px;
            }
          }
        }
      }
    }

    .navigation-mobile {
      position: absolute;
      right: -8px;
      z-index: 1;
      background-color: #ffffff;
      display: none;
    }

    .is-active + .navigation-mobile {
      display: flex;
    }

    .navigation {
      &__list {
        list-style-type: none;
        padding: 0px;
        width: 150px;

        &-item {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.3em;
          text-transform: uppercase;
          border-bottom: 1px solid #000000;

          &__link {
            padding-left: 10px;
          }

          a {
            text-decoration: none;
            position: relative;
            color: #000000;

            &:hover::after {
              content: "";
              position: absolute;
              border-bottom: 1px solid #000000;
              left: 0px;
              right: 0px;
              margin: 0 auto;
              top: 20px;
              width: 40px;
            }
          }
        }
      }
    }

    &__search {
      margin-top: 42px;

      // @media screen and (max-width: 825px) {
      //   display: none;
      // }
    }
  }

  &__main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__block1 {
      position: relative;
      background-image: url(../images/big-image1.jpg);
      height: 600px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (max-width: $screen-size-md) {
        margin-top: 24px;
      }

      &__text {
        position: absolute;
        max-width: 770px;
        height: 120px;
        left: 135px;
        top: 55px;
        font-family: "Red Hat Display", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;

        @media screen and (min-width: $screen-size-md) and (max-width: $screen-size-xl) {
          left: 34px;
        }

        @media screen and (max-width: $screen-size-md) {
          left: 10px;
        }
      }
    }

    &__block2 {
      padding: 90px 135px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      grid-gap: 30px;

      @media screen and (max-width: 1200px) {
        padding: 70px 34px;
      }

      @media screen and (max-width: 720px) {
        flex-direction: column;
      }

      &_reverse {
        flex-direction: row-reverse;
        grid-gap: 30px;

        @media screen and (max-width: 720px) {
          flex-direction: column;
        }
      }

      &-container {
        &__hdr {
        }
      }

      &__image {
        width: 100%;
        height: 100%;
        max-width: 570px;
        max-height: 470px;
      }

      &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        grid-gap: 30px;

        @media screen and (min-width: $screen-size-md) and (max-width: $screen-size-xl) {
          max-width: 100%;
          grid-gap: 0px;
        }

        &__sub-title {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0.1em;
          color: #7b7b7b;

          @media screen and (min-width: $screen-size-md) and (max-width: $screen-size-xl) {
            margin-bottom: 0px;
          }
        }

        &__header {
        }

        &__header-title {
          font-family: "Red Hat Display", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 23px;
          line-height: 38px;
          letter-spacing: 0.1em;
          color: #000000;
        }

        &__header-time {
          margin-top: 15px;

          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 18px;
          letter-spacing: 0.1em;
          color: #7b7b7b;
        }

        &__content {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0.05em;
          color: #565656;

          @media screen and (min-width: $screen-size-md) and (max-width: $screen-size-xl) {
            margin-bottom: 0px;
            margin-top: 0px;
          }
        }
      }
    }

    &__block3 {
      padding: 0px 135px;
      flex-wrap: nowrap;

      @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
        padding: 0px 0px;
      }

      @media screen and (max-width: $screen-size-md) {
        padding: 0px 0px;
      }

      &-name {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
          margin: 50px 0px 50px 0px;
        }

        @media screen and (max-width: $screen-size-xl) {
          padding: 0px 0px;
        }

        &__header {
          font-family: "Red Hat Display", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #000000;

          @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
            margin: 0px;
          }
        }

        &__text {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #7b7b7b;
          margin-top: 35px;
        }
      }

      &_posts {
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: $screen-size-xl) {
          flex-direction: column;
        }

        // &-item:not(:last-child) {
        //   margin-right: 30px;
        //   @media screen and (max-width: $screen-size-md) {
        //     margin-right: 0px;
        //   }
        // }

        //  .long {
        //    width: 570px;
        //  }

        //  .short {
        //   // width: 370px;
        //   @media screen and (min-width: $screen-size-xl) {
        //     width: 370px;
        //   }
        //   @media screen and (max-width: $screen-size-sm) {
        //      width: auto;
        //   }
        // }

        &-item {
          justify-content: flex-start;
          grid-gap: 30px;
          
          @media screen and (max-width: $screen-size-xl) and (max-width: $screen-size-sm) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;
          }

          /*flex-direction: row;*/
          @media screen and (min-width: $screen-size-md) and (max-width: $screen-size-xl) {
            display: flex;
            flex-direction: row;
            padding: 0px;

            .page-content-image {
              flex: 0 0 320px;
              width: 320px;
              height: 240px;
  
              img {
                width: 100%;
                height: 100%;
              }
            }

            &_reverse {
              display: flex;
              flex-direction: row-reverse;
              margin: 50px 0px 50px 0px;
              grid-gap: 30px;

              .page-content-image {
                flex: 0 0 320px;
                width: 320px;
  
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }

          &_reverse {
            .page-content-image {
              height: 240px;

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          &__img {
            max-width: 100%;
          }

          &__text {

            @media screen and (min-width: $screen-size-md) and (max-width: $screen-size-xl) {
              max-width: 100%;
            }

            &-discriotion {
              display: flex;
              justify-content: space-between;
              font-family: "Lato", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 166%;
              letter-spacing: 0.1em;
              color: #7b7b7b;
              // max-width: 570px;
            }
          }

          &__hdr {
            font-family: "Red Hat Display", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;
            // max-width: 370px;
          }

          &__discription {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.05em;
            color: #565656;
            // max-width: 370px;
          }

          .page-content-image {
            height: 240px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        &__button {
          text-align: center;
          margin-top: 54px;

          &-type {
            background-color: #565656;
            font-family: "Lato";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #ffffff;
            width: 180px;
            height: 46px;
            border-color: none;
            border: 0px;
          }
        }
      }
    }

    &__block5 {
      padding: 0px 135px;
      flex-wrap: nowrap;

      @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
        padding: 0px 0px;
      }

      @media screen and (max-width: $screen-size-md) {
        padding: 0px 0px;
      }

      &-name {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
          margin-top: 50px;max-width: 300px;
        }

        &__header {
          font-family: "Red Hat Display", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #000000;
        }

        &__text {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #7b7b7b;
          margin-top: 35px;
        }
      }

      &_posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
          flex-direction: row;
          margin: 50px 0px 50px 0px;
        }

        @media screen and (max-width: $screen-size-md) {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap-reverse;
        }

        &-item {
          justify-content: flex-start;
          grid-gap: 30px;

          @media screen and (max-width: $screen-size-xl) and (max-width: $screen-size-sm) and (min-width: $screen-size-md) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap-reverse;
          }

          @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
            max-width: 50%;
          }

          /*flex-direction: row;*/
          @media screen and (max-width: $screen-size-md) {
            display: flex;
            flex-direction: column;
            text-align: center;
          }

          &__text {
            // max-width: 570px;
            @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
              // max-width: 340px;
            }
            @media screen and (max-width: $screen-size-md) {
              // max-width: 300px;
            }

            &-discriotion {
              display: flex;
              justify-content: space-between;
              font-family: "Lato", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 166%;
              letter-spacing: 0.1em;
              color: #7b7b7b;
            }

            &__hdr {
              font-family: "Red Hat Display", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 22px;
              line-height: 166%;
              letter-spacing: 0.1em;
              color: #000000;
            }

            &__discription {
              font-family: "Lato", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 166%;
              letter-spacing: 0.05em;
              color: #565656;
            }
          }

          // &__button {
          //   text-align: center;
          //   margin-top: 54px;

          //   &-type {
          //     background-color: #565656;
          //     font-family: 'Lato';
          //     font-style: normal;
          //     font-weight: 700;
          //     font-size: 16px;
          //     line-height: 166%;
          //     letter-spacing: 0.1em;
          //     color: #FFFFFF;
          //     width: 180px;
          //     height: 46px;
          //     border-color: none;
          //     border: 0px;
          //   }
          // }
        }
      }

      &__button {
        text-align: center;
        margin-top: 54px;

        &-type {
          background-color: #565656;
          font-family: "Lato";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #ffffff;
          width: 180px;
          height: 46px;
          border-color: none;
          border: 0px;
        }
      }
    }

    &__block4 {
      display: flex;
      justify-content: space-between;
      padding: 90px 135px;

      @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
        padding: 0px 0px;
        flex-direction: column;
        margin: 27px 0px 71px 0px;
      }

      @media screen and (max-width: $screen-size-md) {
        padding: 0px 0px;
      }

      @media screen and (max-width: $screen-size-md) {
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
      }

      &__item {
        max-width: 470px;
        font-family: "Red Hat Display", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #000000;

        @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
          justify-content: flex-start;
        }
      }

      &__text {
        max-width: 470px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;

        @media screen and (max-width: $screen-size-xl) and (min-width: $screen-size-md) {
          max-width: inherit;
          text-align: right;
        }
      }
    }
  }

  &__footer {
    padding: 0px 135px;
    background-color: #f4f4f4;

    @media screen and (min-width: $screen-size-md) and (max-width: $screen-size-xl) {
      padding: 0px 0px;
    }

    @media screen and (max-width: $screen-size-md) {
      padding: 0px 0px;
    }

    &-block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 720px) {
        flex-direction: column;        
      }

      &-left {
        &__header {
          font-family: "Red Hat Display", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 64px;
          color: #000000;

          @media screen and (max-width: $screen-size-md) {
            font-size: 32px;
          }
        }

        &__phone {
          width: 200px;
          left: 0px;
          top: 90px;
          font-family: "Lato", sans-serif;
          font-style: normal;
          letter-spacing: 0.1em;
          color: #000000;
        }

        font-weight: 400;
        font-size: 16px;
        line-height: 166%;
        letter-spacing: 0;

        &__mail {
          font-family: "Lato", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 166%;
          letter-spacing: 0.1em;
          color: #000000;
        }
      }

      &-right {
        &__svg:not(:last-child) {
          margin-right: 23px;
        }
      }
    }

    &-bottom {
      text-align: center;
      font-family: "Lato", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 166%;
      letter-spacing: 0.1em;
      color: #000000;
    }
  }
}

.page-content-image {
  width: 100%;
  text-align: center;

  img {
    object-fit: cover;
    width: 100%;
  }
}
